server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file:///Users/andy/Desktop/micro-curso/config-data
          default-label: main

  security:
    user:
      name: user
      password: password123

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          # IMPORTANTE: Usamos 'keycloak' (nombre del contenedor) y puerto 8080 (interno)
          # porque se comunican dentro de la red de Docker.
          issuer-uri: http://keycloak:8080/realms/DemoUCB
          jwk-set-uri: http://keycloak:8080/realms/DemoUCB/protocol/openid-connect/certs
