server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file:///Users/andy/Desktop/micro-curso/config-data
          default-label: main

  security:
    user:
      name: user
      password: password123

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/