# Configuración base para todos los microservicios
eureka:
  client:
    serviceUrl:
      # Todos buscan a Eureka por su nombre de contenedor en la red Docker
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

# Configuración de Actuator (Para ver si están vivos)
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
